.page-title {
  font-size: 36px;
  margin: 16px 16px;
  color: #be2f79;
}

.contain-date-picker {
  padding: 20px;
  text-align: center;
}

.contain-report {
  margin: 0 auto;
  display: flex;
  max-width: 700px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.report-child {
  flex: 1;
  min-width: 200px;
}

.ant-date-picker {
  width: 576px;
  margin: 0 auto;
}

@media screen and (max-width: 661px){
  .ant-date-picker {
    width: 100%;
  }
  .contain-stats {
    width: 100%;
  }
}

@media screen and (min-width: 992px){
  .ant-date-picker {
    width: 700px;
  }
  .contain-stats {
    width: 100%;
  }
}

.orders-summary {
  display: flex;
  flex-direction: column;
  border: 1px solid #01914b;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 20px;
  -webkit-box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
}

.all-time-stats {
  padding: 20px;
}

.all-stats {
  margin: 0px auto;
}