.page-title {
  font-size: 36px;
  margin: 16px 16px;
  color: #be2f79;
}

.form-title{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  color: #7c1e4f;
  text-align: center;
}

.highlight-form-wrapper {
  padding: 20px;
  width: 576px;
  margin: 0 auto;
}

@media screen and (max-width: 661px){
  .highlight-form-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 992px){
  .highlight-form-wrapper {
    width: 700px;
  }
}



.remove-btn {
  color: red;
  font-size: 24px;
}

.edit-btn {
  color: #01914b;
  font-size: 24px;
}

.contain-highlight {
  display: flex;
  flex-direction: column;
  border: 1px solid #01914b;
  border-radius: 8px;
  margin: 8px;
  padding: 20px;
  max-width: 500px;

}

.contain-highlight-list {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contain-highlight:hover {
  -webkit-box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
  box-shadow: 0px -1px 13px -3px rgba(0,0,0,0.75);
}

.highlight-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.contain-title-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: nowrap;
}